{
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-implicit-coercion": "error",
    "no-unused-expressions": ["error"]
  },
  "overrides": [
    {
      "files": ["tests/**/*.ts"],
      "rules": {
        "node/no-unpublished-import": "off"
      }
    }
  ],
  "ignorePatterns": [
    "dist"
  ]
}
